* {
  margin: 0;
  padding: 0;
}
body {
  background: #dff6ff;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #ffffffbd;
}
h2 {
  font-weight: 600;
  color: #1a374d;
  text-align: center;
  font-family: arial;
  font-size: 37px;
  padding-top: 20px;
}
/* header start */
nav img {
  border-radius: 50%;
  margin-right: 5px;
}
nav {
  background: #1a374d;
}
.dlms {
  color: white;
}
.sidebar {
  background: #1a374d;
}
.login:hover {
  color: white;
}
/* header end */

/* Banner start */
.bannerImg {
  height: 580px;
  width: 100%;
}
.bannerCaption1 {
  margin-bottom: 245px;
  background: #1a374da1;
  width: 29%;
  text-align: center;
  margin-left: 23rem;
  border-radius: 4px;
  text-shadow: 4px 3px black;
}
.bannerCaption {
  margin-bottom: 55px;
  background: #1a374d63;
  width: 50%;
  text-align: center;
  margin-left: 12rem;
  border-radius: 4px;
  text-shadow: 4px 3px black;
}
/* Banner end */

/* book_section start */
.book_section {
  border-radius: 25px;
  margin-top: 40px;
  background: #ffffff;
  padding-bottom: 40px;
}
.book_section p {
  font-style: italic;
  text-transform: capitalize;
}

.book {
  margin-top: 4rem;
}
.card {
  border: none;
  box-shadow: 0px 2px 4px 5px #44414157;
}
.card img {
  height: 18rem;
  transition: 0.5s;
}
.card img:hover {
  transform: scale(0.9);
}
.card .btn {
  width: 100px;
  font-size: 14px;
  text-align: center;
  margin-left: 16px;
}
/* book_section end */

/* about --- pdp start*/

.section-about {
  margin-top: 60px;
  background: #faf7f1;
  padding-bottom: 50px;
}
.description p {
  margin-top: 30px;
  line-height: 10px;
  text-align: justify;

  padding: 5px;
}
.AboutDescription {
  background: white;
  border-radius: 10px;
}
.AboutVideo {
  margin-left: 80px;
  border-radius: 10px;
}
.aboutBriefly {
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
}
.aboutBriefly h3 {
  color: #1a374d;
  text-align: left;
}
.aboutBriefly p {
  line-height: 30px;
  text-align: justify;
}
/* about --- pdp end*/

/*contact -----start*/

.contact {
  margin-top: 80px;
  color: #1a374d;
  background: #fff;
  padding-bottom: 50px;
}
.map {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.contactPart {
  border-radius: 3px;
  background-color: #fff;
  height: 350px;
  padding: 20px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.contactPart .location {
  font-weight: 600;
  color: #1a374d;
  text-align: center;
  font-family: arial;
  padding-bottom: 20px;
}
.info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}
.info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}
/*contact -----end*/

/* Footer start */

.footer {
  background: #1a374d;
  margin-top: 8rem;
  border-top: 1px solid #ffff;
}
.footer_dlms {
  font-weight: 600;
}
.address {
  font-size: 13px;
  line-height: 2;
}
footer h4 {
  border-bottom: 1px solid #ffffff36;
  padding-bottom: 10px;
}
footer .footer_links {
  line-height: 3;
  padding-left: 0;
}
footer a:hover {
  color: #47b5ff;
}
/* Footer end */
